.dishes {
    display: flex;
    flex: 1;
    gap: 20px;
    >.example-card {
        max-width: 400px;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 16px;
        >img{
            width: 100%;
        }
      }
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  

  